<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499605625258-djuuvfnc9jk42btnsasu687iudl907ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499605625258-djuuvfnc9jk42btnsasu687iudl907ec</string>
	<key>API_KEY</key>
	<string>AIzaSyA8zCsIzNuv8N8SpnqAP2S1y0og8pjxQSg</string>
	<key>GCM_SENDER_ID</key>
	<string>499605625258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artem.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-5bf63</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-5bf63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499605625258:ios:408e17411e564d314033d3</string>
</dict>
</plist>